@import "tailwindcss";


.professional {
  position: absolute;
  width: 100vw;
  height: 100vh;
  clip-path: polygon(0 0, 60% 0, 50% 100%, 0% 100%);
}

.casual {
  position: absolute;
  width: 100vw;
  transition: clip-path 350ms ease; /* Added transition */
  clip-path: polygon(60% 0, 100% 0%, 100% 100%, 50% 100%);
}

.casual:hover {
  transition-duration: 400ms;
  clip-path: polygon(43% 0, 100% 0%, 100% 100%, 45% 100%);
}
.casual h1 {
  scale: 1;
  transition: scale 400ms ease, transform 400ms ease;
}
.casual:hover h1 {
  scale: 1.1;
  transform: translateX(-10%);
}

@keyframes wiggle {
  0% {
    transform: rotate(0deg);
  }
  5% {
    transform: rotate(3deg);
  }
  10% {
    transform: rotate(-3deg);
  }
  15% {
    transform: rotate(3deg);
  }
  20% {
    transform: rotate(-3deg);
  }
  25% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
.animate-wiggle {
  animation: wiggle 3s ease infinite;
}